<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fnfnfnjnqn@tznvy.pbz</string>
	<key>contactName</key>
	<string>Kensuke Sawada</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Emfrp</string>
	<key>uuid</key>
	<string>EEAE494A-4366-4495-8267-DD9C582035F3</string>
</dict>
</plist>
